<style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: cursive;
            background-color: #a081ad;
            color: white;
        }

        /* Top menu */

        #navbar {
            display: flex;
            justify-content: space-between;
            /* background-color: blue; */
            color: white;

        }

        /* Left Logo */

        #logo {
            margin: 22px 47px;
            font-size: 1.4rem;

        }

        #logo a {
            text-decoration: none;
            color: white;
            border: 2px solid white;
            padding: 7px 14px;
            border-radius: 22px;
            transition-property: all;
            transition-duration: 0.6s;
            transition-timing-function: ease-in;
        }

        #logo a:hover {

            box-shadow: 0px 0px 15px 2px rgb(168, 247, 247);
            text-shadow: 0px 0px 15px 2px rgb(168, 247, 247);


        }


        /* Right info */


        #navbar ul {
            display: flex;
            align-items: center;
            margin: 0px 35px;



        }

        #navbar li {

            list-style: none;

        }

        #navbar li a {
            color: white;
            text-decoration: none;
            font-size: 1.1rem;
            padding: 15px 12px;
            transition-property: all;
            transition-duration: 0.6s;
            transition-timing-function: ease-in;

        }

        #navbar li a:hover {
            background-color: #a2cbff;
            opacity: 0.9;
            border-radius: 9px;
            box-shadow: 0px 0px 15px 2px #a2cbff;
        }

        #navbar li a:active {
            background-color: #5e9ef3;
            box-shadow: 0px 0px 15px 5px #5e9ef3;

        }

        /* animated text */
        #anib {
            position: absolute;
            left: 50%;
            top: 12%;
            height: 7%;
            padding: 0px 9px;
            transform: translate(-50%, -50%);
            overflow: hidden;
            text-transform: uppercase;
            text-align: center;
            border-radius: 17px;
            box-shadow: #a2cbff 0px 0px 24px 3px;
            background-color: #a2cbff;
            /* #a8f7f7 */
            /* #a2cbff */

        }

        .text {
            font-size: 2.3rem;
            margin-bottom: 8px;
            text-transform: uppercase;
            animation: dao;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease;

        }

      

        @keyframes dao {
             0%{
                 margin-top: 0px;
             }
             10%{
                 margin-top: 0px;
             }
             20%{
                 margin-top: -51px;
             }
             30%{
                 margin-top: -51px;
             }
             40%{
                 margin-top: -104px;
             }
             50%{
                 margin-top: -104px;
             }
             60%{
                 margin-top: -156px;
             }
             70%{
                 margin-top: -156px;
             }
             
             
         }


        /* Welcome */

        .welcome {
            text-align: center;
            font-size: 3.5rem;
            margin: 46px 0px;

        }

        /* Information */

        #sec {
            margin: 95px;
            display: flex;


        }



        .myself {
            display: flex;

        }

        .self {
            background-color: #b5b1e8;
            border: 2px solid white;
            border-radius: 50px;
            color: white;
            text-align: center;
            margin: 2px;
            padding: 62px 0px;
            transition-property: all;
            transition-duration: 1s;

        }

        .self:hover {
            transform: scale(1.1);
            box-shadow: 0px 0px 15px 8px rgb(168, 247, 247);
        }

        .self h2 {
            font-size: 2.8rem;
        }

        .self p {
            padding: 23px 0px;
        }

        .bd{
            align-items: center;
        }
    </style>