@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Overpass', sans-serif; */
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

header{
    display: flex;
    justify-content: center;
}
.head h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 5px;
    
}
.button{
    font-family: 'Roboto', sans-serif;
}
.self-container{
    display: flex;
    justify-content: center;
}
.self {
    /* background-color: #333;
    border: 2px solid white;
    height: 320px;
    width: 450px;
    margin-top: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    
    padding: 62px 0px; */
    transition-property: all;
    transition-duration: 1s;
    width: 40%;
    padding: 2rem;
    

}

.self:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 8px rgb(168, 247, 247);
}
.self h2{
    
    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.self p{

    
    font-size: 1.2rem;
}

.email-container{
    display: flex;
    justify-content: center;
}
.email{
    display: flex;

  
  width: 40%;
  margin-top: 1rem;
  flex-direction: column;
  padding: 2rem;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


#inputEmail{
    width: 250px;
    height: 33px;
    border-radius: 10px;
    background: none;
    outline: none;
    border: 2px solid white;
}


.btn{
    background: none;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    border-color: white;
    padding: 12px 45px;
    margin-top: 20px;
    /* cursor: pointer; */
    font-family: 'Roboto', sans-serif;
    color: white;
       transition: all;
       transition-duration: 0.6s;
}   


.btn:hover{
    box-shadow: 0px 0px 15px 1px white;
    background-color: white;
    color: black;
}

.btn:active{
    box-shadow: 0px 0px 15px 2px rgb(182, 181, 181);
    background-color: rgb(182, 181, 181);
    color: black;
}
input, select, textarea{
    color: #0e0c0c;
}
textarea:focus, input:focus{
    color: #0c0b0b;
}

@media only screen and (max-width: 500px){
    .self{
        width: 90%;
    }
    .email{
        width: 90%;
    }
}

